@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}
.container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;

}
.type-following {
    display: flex;
    justify-content: center;
}

.type-following button {
    background-color: #dfdfdf;
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.type-following button:not(:first-child) {
    margin-left: 10px;
}
