@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR&display=swap');

body {
    padding: 0;
    margin: 0
}

.navbar-brand {
    font-family: Playwrite AR;
    font-weight: 600;
}

#bg-img {
    background-image: url("https://wallpaperbat.com/img/564042-huge-sports-montage-wallpaper-mural.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
    width: 100%;
    height: 100vh;
}

.mask {
    width: 100%;
    height: 100vh;
}

a .btn {
    width: 20%;
}